<h1 align=center> Project 2: Machine Learning Classifier Credit Model </h1>
<center><img src="https://oci02.img.iteso.mx/Identidades-De-Instancia/ITESO/Logos%20ITESO/Logo-ITESO-Vertical-SinFondo.png" width=500 height=400></center>
<p align=left> Created by: Emiliano Mena González and Jorge Alberto Hernández Hernández <br>
    Degree: Financial Engineer <br>
    Semester: 10th <br>
    Subject: Credit Models</p>

<h2 align=left> Introduction </h2>
<h3 align=left> Main Objective </h3>
<p align=justified> Create a machine learning classifier credit model </p>
<h3 align=left> Proccess </h3>
<p align=justified> In order to achieve the main objective, they will be compared multiple models to get the one that has the best accuracy. </p>
<h2 align=left> Data Description </h2>
<p align=justified> The dataset of the credit score is already divided on the train and test samples. The train has 100,000 records and the test 50,000. The variables they have are the next: </p>
<ol>
  <li>ID</li>
  <li>Customer_ID</li>
  <li>Month</li>
  <li>Name</li>
  <li>Age</li>
  <li>SSN</li>
  <li>Occupation</li>
  <li>Annual_Income</li>
  <li>Monthly_Inhand_Salary</li>
  <li>Num_Bank_Accounts</li>
  <li>Num_Credit_Card</li>
  <li>Interest_Rate</li>
  <li>Num_of_Loan</li>
  <li>Type_of_Loan</li>
  <li>Delay_from_due_date</li>
  <li>Num_of_Delayed_Payment</li>
  <li>Changed_Credit_Limit</li>
  <li>Num_Credit_Inquiries</li>
  <li>Credit_Mix</li>
  <li>Outstanding_Debt</li>
  <li>Credit_Utilization_Ratio</li>
  <li>Credit_History_Age</li>
  <li>Payment_of_Min_Amount</li>
  <li>Total_EMI_per_month</li>
  <li>Amount_invested_monthly</li>
  <li>Payment_Behaviour</li>
  <li>Monthly_Balance</li>
</ol>
<p align=justify> From this variables we won´t consider on the model the ID, Customer_ID, Month, Name, Age, SSN, Occupation because they are variables that are used only to describe the customer and they shouldn´t be used to assign a customer a credit score. </p>

<h2 align=left> Models </h2>

In [1]:
import main as m
from visualizations import confusion_matrix

c:\Users\emili\OneDrive\Documentos\Escuela\10mo Semestre\Modelos de Crédito\Project2_ClassifierModel\main.py:48: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_train.replace(replace_cm, inplace=True)
c:\Users\emili\OneDrive\Documentos\Escuela\10mo Semestre\Modelos de Crédito\Project2_ClassifierModel\main.py:49: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_train.replace(replace_cs, inplace=True)
c:\Users\emili\OneDrive\Documentos\Escuela\10mo Semestre\Modelos de Crédito\Project2_ClassifierModel\main.py:50: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_test.replace(replace_cm, inplace=True)

<h2 align=left> Results </p>

In [2]:
print(f'The accuracy of the Logistic Regression Classifier was of {m.accuracy1*100}%.')
print(f'The accuracy of the Decision Tree Classifier was of {m.accuracy2*100}%.')
#print(f'The accuracy of the Stacking (Support Vector Machine, Random Forest, K Neighbors and Gradient) Classifier was of {m.accuracy3}%.')

The accuracy of the Logistic Regression Classifier was of 0.5463333333333333%.
The accuracy of the Decision Tree Classifier was of 0.7214666666666667%.

In [5]:
confusion_matrix(m.y_validation,m.y_pred1,['Poor','Standard','Good'])

AttributeError: 'list' object has no attribute 'classes_'

In [ ]:
confusion_matrix(m.y_validation,m.y_pred2,m.clf2)

In [ ]:
confusion_matrix(m.y_validation,m.y_pred3,m.clf3)

<h2 align=left> Conclusions </h2>

# Codigo de Jorge

In [22]:
import main as m
import pandas as pd

In [23]:
m.df3.head()

,Customer_ID,Name,Annual_Income,Monthly_Inhand_Salary,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score
0,CUS_0xd40,Aaron Maashoh,19114.12,1824.843333,3.0,3,7.0,11.27,4.0,0,809.98,26.822620,271,49.574949,80.415295,312.494089,0
1,CUS_0xd40,Aaron Maashoh,19114.12,1824.843333,3.0,-1,0.0,11.27,4.0,0,809.98,31.944960,271,49.574949,118.280222,284.629162,0
2,CUS_0xd40,Aaron Maashoh,19114.12,1824.843333,3.0,3,7.0,0.00,4.0,0,809.98,28.609352,271,49.574949,81.699521,331.209863,0
3,CUS_0xd40,Aaron Maashoh,19114.12,1824.843333,3.0,5,4.0,6.27,4.0,0,809.98,31.377862,271,49.574949,199.458074,223.451310,0
4,CUS_0xd40,Aaron Maashoh,19114.12,1824.843333,3.0,6,0.0,11.27,4.0,0,809.98,24.797347,271,49.574949,41.420153,341.489231,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,CUS_0x942c,Nicks,39628.99,3359.415833,7.0,23,7.0,11.50,3.0,0,502.38,34.663572,382,35.104023,60.971333,479.866228,2
99996,CUS_0x942c,Nicks,39628.99,3359.415833,7.0,18,7.0,11.50,3.0,0,502.38,40.565631,382,35.104023,54.185950,496.651610,2
99997,CUS_0x942c,Nicks,39628.99,3359.415833,7.0,27,6.0,11.50,3.0,0,502.38,41.255522,382,35.104023,24.028477,516.809083,2
99998,CUS_0x942c,Nicks,39628.99,3359.415833,7.0,20,0.0,11.50,3.0,0,502.38,33.638208,382,35.104023,251.672582,319.164979,1
99999,CUS_0x942c,Nicks,39628.99,3359.415833,7.0,18,6.0,11.50,3.0,0,502.38,34.192463,382,35.104023,167.163865,393.673696,2

In [24]:
#Se tienen muchas filas de datos sobre un mismo ID, algunas filas del mismo ID tienen datos diversos pero tienen algo en común, ya sea su credit score, su credit mix, entonces
#podemos juntar (promediar) aquellas filas de un mismo ID que cumplan ciertas condiciones por ejemplo _Credit mix bueno y Credit score bueno, entonces se promedian esas filas y se hacen una 
#Entonces así reducimos filas de datos pero manteniendo la información relevante

In [25]:
m.df4.head()

,Customer_ID,Annual_Income,Monthly_Inhand_Salary,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_Mix
0,CUS_0x1037,15989.085,1086.423750,2.0,11.750000,15.250000,0.500000,2.875000,665.82,33.314099,237.0,33.797021,94.498942,266.596412,0,0
1,CUS_0x1051,35022.220,2859.518333,4.0,5.400000,11.000000,1.344000,4.000000,1000.44,28.199193,342.0,21.214576,132.013348,390.723909,0,0
2,CUS_0x105c,127617.600,10596.800000,5.0,6.000000,6.000000,9.220000,0.000000,542.91,31.248415,292.0,211.054606,420.641796,418.130542,0,0
3,CUS_0x106f,134035.080,11102.590000,10.0,3.000000,7.375000,8.405000,6.000000,767.91,37.799686,299.0,295.173265,543.759150,656.909449,0,0
4,CUS_0x10aa,114432.030,9272.002500,7.0,9.600000,10.600000,12.180000,4.000000,444.51,35.470028,258.0,0.000000,362.316818,681.545470,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856,CUS_0xf55,78443.480,6358.956667,23.0,39.000000,18.750000,4.935000,6.000000,1527.77,32.398631,190.0,177.387563,255.303125,436.318885,2,3
1857,CUS_0xf5d,64560.520,5293.043333,19.0,44.500000,9.666667,27.610000,10.000000,3342.30,32.472577,46.0,447.834152,211.002354,137.728512,2,3
1858,CUS_0xf74,17111.350,1367.645556,11.0,52.333333,25.000000,12.920000,8.000000,1763.48,33.600017,228.0,96.433723,104.166483,222.761044,2,3
1859,CUS_0xf95,15604.560,1389.380000,25.0,28.333333,23.166667,6.900000,11.000000,2686.18,34.928655,238.0,37.912350,78.753586,295.605397,2,3
1860,CUS_0xfa4,15035.190,1214.932500,32.0,61.000000,19.714286,4.702857,12.142857,1447.52,32.540615,155.0,39.949693,71.556251,284.931120,2,3

## Time to predict 

-In this case, we have decided that we'll be using stacking to predict the test data.
The models we'll be using are:
1. Complement Naive Bayes
2. Random Forest Classifier
3. Multi Layer Perceptron
4. Support Vector Machine
5. Gradient Boosting Classifier

Utilizar el SVC reduce significativamente el costo de computo, pero probablemente disminuya la precisión del modelo.
Con 6 clasificadores el tiempo de procesamiento se vuelve de más de 20 minutos, entonces sugiero dejarlo en 5 clasificadores. que el teimpo de procesamiento es de 8 minutos aproximadamente.

-Gaussian Classifier se añadió pero en el minuto 17 paré el kernel

-AdaBoost Classifier se añadió pero empeoró el  rendimiento del modelo (eran 6 clasificadores)

-Random Forest + Knearst Neighbors + Gradient Boosting + final_estimator MLP = 0.71

-Random Forest + Knearst Neighbors + Gradient Boosting + SVC +final_estimator MLP = 0.72

In [26]:
import sklearn 
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.gaussian_process import GaussianProcessClassifier

In [28]:
m.df4.columns

In [29]:
#Crear instancias de los estimadores
estimators = [("Support Vector Machine", SVC()),
                ("Random Forest", RandomForestClassifier()),
                ("K Neighbors Classifier", KNeighborsClassifier()),
              ("Gradient Classifier", GradientBoostingClassifier())]
# Crear el modelo de apilamiento
stacking_model = StackingClassifier(estimators=estimators, final_estimator=MLPClassifier())
stacking_model.fit(m.X_train, m.y_train)
predictions = stacking_model.predict(m.X_test)
accuracy_1=sklearn.metrics.accuracy_score(m.y_test, predictions)
#stacking_model.fit(m.X_train_2, m.y_train_2)