<h1 align=center> Project 2: Machine Learning Classifier Credit Model </h1>
<center><img src="https://oci02.img.iteso.mx/Identidades-De-Instancia/ITESO/Logos%20ITESO/Logo-ITESO-Vertical-SinFondo.png" width=500 height=400></center>
<p align=left> Created by: Emiliano Mena González and Jorge Alberto Hernández Hernández <br>
    Degree: Financial Engineer <br>
    Semester: 10th <br>
    Subject: Credit Models</p>

<h2 align=left> Introduction </h2>

<h3 align=left> Project </h3>
<p align=jutify> The main objective of this project is to create a credit score model, the model receives a dataset and classifies every record on one of three possible scores (Poor, Standard and Good). This model is going to be a supervised machine learning classifier and to select the "best" model they will be compared different classifiers and finally selected the one that has a best accuracy. </p>

<h3 align=left> Data </h3>
<p align=jutify> The data is divided on a train and test sample, the train will be subdivided on train and validation in order to measure the accuracy that the model has and the test is where the real predictions will be made. The train will have 75,000 records, the validation 25,000 and the test 50,000. The data includes 27 variables. </p>

<h3 align=left> Questions of the project </h3>
<p align=jutify> In order to achieve the final model some of the questions and decisions that are needed to be take are: </p>
<ol>
    <li> What variables are going to be used and why? </li>
    <li> What models are going to be compared and why? </li>
    <li> What can we conclude of the model? </li>
</ol> 

<h3 align=left> Project workflow </h3>
<p align=jutify> The project was divided on different stages to get specific objectives and products that were used on the next stages. The order was: </p>
<ol>
    <li> Exploratory Data Analysis </li>
    <li> Data Clenaning </li>
    <li> Data preproccessing  </li>
    <li> Creation of the models </li>
    <li> Select the best model and predict the test </li>
</ol>

<h2 align=left> Body </h2>

<h3 align=left> Data </h3>
<p align=justified> The data has a total of 27 variables that are: </p>
<ol>
  <li>ID</li>
  <li>Customer_ID</li>
  <li>Month</li>
  <li>Name</li>
  <li>Age</li>
  <li>SSN</li>
  <li>Occupation</li>
  <li>Annual_Income</li>
  <li>Monthly_Inhand_Salary</li>
  <li>Num_Bank_Accounts</li>
  <li>Num_Credit_Card</li>
  <li>Interest_Rate</li>
  <li>Num_of_Loan</li>
  <li>Type_of_Loan</li>
  <li>Delay_from_due_date</li>
  <li>Num_of_Delayed_Payment</li>
  <li>Changed_Credit_Limit</li>
  <li>Num_Credit_Inquiries</li>
  <li>Credit_Mix</li>
  <li>Outstanding_Debt</li>
  <li>Credit_Utilization_Ratio</li>
  <li>Credit_History_Age</li>
  <li>Payment_of_Min_Amount</li>
  <li>Total_EMI_per_month</li>
  <li>Amount_invested_monthly</li>
  <li>Payment_Behaviour</li>
  <li>Monthly_Balance</li>
</ol>

<h4 align=left> Exploratory Data Analysis </h4>
<p align=justified> The first part is to analyse the data we have and see what cleaning proccesses are necessary to do. In this part we see that we have some variables with null values, numeric variables on string variable type. This is what we need to clean on the next step. </p>

In [1]:
import main as m
import matplotlib.pyplot as plt
from visualizations import confusion_matrix, correlation

In [2]:
m.train_info

                             Type  NA_values  Present_values  Unique_values
Variable_name
ID                         object          0          100000         100000
Customer_ID                object          0          100000          12500
Month                      object          0          100000              8
Name                       object       9985           90015          10139
Age                        object          0          100000           1788
SSN                        object          0          100000          12501
Occupation                 object          0          100000             16
Annual_Income              object          0          100000          18940
Monthly_Inhand_Salary     float64      15002           84998          13235
Num_Bank_Accounts           int64          0          100000            943
Num_Credit_Card             int64          0          100000           1179
Interest_Rate               int64          0          100000           1750
Num_of_Loan                object          0          100000            434
Type_of_Loan               object      11408           88592           6260
Delay_from_due_date         int64          0          100000             73
Num_of_Delayed_Payment     object       7002           92998            749
Changed_Credit_Limit       object          0          100000           4384
Num_Credit_Inquiries      float64       1965           98035           1223
Credit_Mix                 object          0          100000              4
Outstanding_Debt           object          0          100000          13178
Credit_Utilization_Ratio  float64          0          100000         100000
Credit_History_Age         object       9030           90970            404
Payment_of_Min_Amount      object          0          100000              3
Total_EMI_per_month       float64          0          100000          14950
Amount_invested_monthly    object       4479           95521          91049
Payment_Behaviour          object          0          100000              7
Monthly_Balance            object       1200           98800          98792
Credit_Score               object          0          100000              3

In [3]:
m.train_describe.T

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,84998.0,4194.170850,3183.686167,303.645417,1625.568229,3093.745000,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,17.091280,117.404834,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,100000.0,22.474430,129.057410,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,100000.0,72.466040,466.422621,1.000000,8.000000,13.000000,20.000000,5797.000000
Delay_from_due_date,100000.0,21.068780,14.860104,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,98035.0,27.754251,193.177339,0.000000,3.000000,6.000000,9.000000,2597.000000
Credit_Utilization_Ratio,100000.0,32.285173,5.116875,20.000000,28.052567,32.305784,36.496663,50.000000
Total_EMI_per_month,100000.0,1403.118217,8306.041270,0.000000,30.306660,69.249473,161.224249,82331.000000

<h4 align=left> Data Cleaning </h4>
<p align=justified> To start the data cleaning we are droping all the variables that doesn´t need to be cleaned because they aren´t important to the model (ID, Month, Name, Age, SSN, Occupation, Type_of_Loan,Payment_of_Min_Amount, Payment_Behaviour). Then the variables with null values need to be filled, in this part they are going to be filled on two different ways, the first is with ceros for the variables Num_of_Delayed_Payment, Num_Credit_Inquiries, Amount_invested_monthly, Monthly_Balance and the second is with the previous value for the variables Monthly_Inhand_Salary,Credit_History_Age. The next part is to change to a numerical value the Credit_History_Age, Credit_Mix and Credit_Score variables so they can be interpreted by the classifiers. Continuing with the change to numerical values, the variables thar are string type (Annual_Income, Num_of_Loan,Num_of_Delayed_Payment, Changed_Credit_Limit, Outstanding_Debt, Amount_invested_monthly, Monthly_Balance) need to be changed to numeric type. And finally they are two variables (Num_Bank_Accounts, Delay_from_due_date) that have negative values that need to be positive, so it will be applied the absolute value of this variables. </p>

<h4 align=left> Select the model variables </h4>
<p align=justified> After we have the data cleaned is time to pick the variables that will be used on the model. Based on the Fair Isaac Corporation (FICO) model that is the most recognized model on the credit scoring (more than 90% of the U.S. lenders use it) the variables selected are going to be part of the FICO pillars. </p>

| Pillar                   | Description                                                |
| ------------------------ | ---------------------------------------------------------- |
| Payment history          | Payment of all your credits on time                        |
| Amounts owed             | The amount you got on the credits you have                 |
| Lenght of credit history | How many time you been with different types of credits     |
| New credits              | The new credits or inquiries you made or have              |
| Credit mix               | Different types of credits you have (loan, mortgage, etc.) |

<p align=justify> Down we can see the variables and the pillar they are part of. </p>
<ol>
 <li> Delay_from_due_date (Payment history) </li> 
 <li> Num_of_Delayed_Payment (Payment history) </li> 
 <li> Num_Credit_Inquiries (New credits) </li> 
 <li> Credit_Mix (Credit mix) </li> 
 <li> Outstanding_Debt (Amounts owed) </li> 
 <li> Credit_History_Age (Lenght of credit history) </li> 
</ol>

<p align=justify> In addition to these pillars we add other variables we consider important on the credits: </p>
<ol>
 <li> Monthly_Inhand_Salary <li>
 <li> Credit_Utilization_Ratio </li>
</ol>
<p align=justify> These variables serve to know first with the salary if the customer can receive more credits and with the credit utilization we can measure if the customer is not always using all the credit because it could be a bad signal that maybe is having financial problems </p>

<p align=justify> We can see the correlation between the variables down. </p>
<center><img src="Correlation.png" width=500 height=400></center>

<h3 align=left> Methods </h3>
<p align=justify> It was decided to prove 5 different classifiers to finally choose the model that was going to be used. This classifiers were: </p>
<ol>
  <li>K-Neighbors</li>
  <li>Random Forest</li>
  <li>Extremely Randomized Trees</li>
  <li>Gradient Boosting</li>
  <li>Stacking (K-Neighbors, Random Forest, Extremely Randomized Trees and Gradient Boosting)</li>
</ol>

<h3 align=left> Analysis </h3>
<p align=justify> To select the "best" model we need to know the performance each model had, in this case we will see the traditional accuracy (True Positives / Total Predictions) and the accuracy calculated with the Cross Validation (is used to detect if there is a problem of overfiting on the model). We can see the metrics of every model. </p>

In [4]:
m.metrics

,Model,Traditional accuracy,Cross validation accuracy,Standard deviation
0,K-Neighbors,75.38,61.29,0.40
1,Random Forest,76.25,70.14,0.44
2,Extremely Randomized Trees,76.50,70.44,0.57
3,Gradient Boosting,76.50,66.86,0.45
4,"Stacking (K-Neighbors, Random Forest, Extremel...",78.48,70.54,0.18

<left><img src="Model_1.png" width=500 height=400></left>
<right><img src="Model_2.png" width=500 height=400></right>
<left><img src="Model_3.png" width=500 height=400></left>
<right><img src="Model_4.png" width=500 height=400></right>
<center><img src="Model_5.png" width=500 height=400></center>

<p align=justify> From the 5 models the one with the best accuracy and cross validation is the Stack model, so we are going to keep this model as the final one. After we selected the final model is time to prove it on the test sample to see the scores it predicts. </p>

<h3 align=left> Results </h3>
<p align=justify> Now we can see the predictions of the test sample. First we can see some of the Customers and the Score they got. </p>

In [5]:
m.test.head(10)[['Name','Credit_Score']]

              Name Credit_Score
0    Aaron Maashoh         Good
1    Aaron Maashoh         Good
2    Aaron Maashoh         Good
3    Aaron Maashoh         Good
4  Rick Rothackerj         Good
5  Rick Rothackerj         Good
6  Rick Rothackerj         Good
7  Rick Rothackerj         Good
8           Langep     Standard
9           Langep         Good

<p align=justify> Down we can see the classification of the train, validation and test labels. The three look similar, the category with more clasifications is the Standard and the one with the lower classifications is the Good. </p>

In [6]:
m.train_results

              Number of Predicted Labels  Percentage
Credit_Score
Good                               13406       17.87
Poor                               21685       28.91
Standard                           39909       53.21

In [7]:
m.validation_results

              Number of Predicted Labels  Percentage
Credit_Score
Good                                4422       17.69
Poor                                7313       29.25
Standard                           13265       53.06

In [8]:
m.test_results

              Number of Predicted Labels  Percentage
Credit_Score
Good                                9723       19.45
Poor                               16272       32.54
Standard                           24005       48.01

<left><img src="Train.png" width=500 height=400></left>
<right><img src="Validation.png" width=500 height=400></right>
<center><img src="Test.png" width=500 height=400></center>

<h2 align=left> Conclusions </h2>
<p align=jutify>  </p>

<h2 align=left> Appendix </h2>
<p align=jutify>  </p>

In [9]:
# import matplotlib.pyplot as plt
# from sklearn.datasets import load_iris
# from sklearn.model_selection import LearningCurveDisplay, learning_curve
# from sklearn.tree import DecisionTreeClassifier
# train_sizes, train_scores, test_scores = learning_curve(m.clf1, m.x_train, m.y_train, n_jobs=-1)
# display = LearningCurveDisplay(train_sizes=train_sizes, train_scores=train_scores, test_scores=test_scores, score_name="Score")
# display.plot()
# plt.show()

# train_sizes, train_scores, test_scores = learning_curve(m.clf2, m.x_train, m.y_train, n_jobs=-1)
# display = LearningCurveDisplay(train_sizes=train_sizes, train_scores=train_scores, test_scores=test_scores, score_name="Score")
# display.plot()
# plt.show()

# train_sizes, train_scores, test_scores = learning_curve(m.clf3, m.x_train, m.y_train, n_jobs=-1)
# display = LearningCurveDisplay(train_sizes=train_sizes, train_scores=train_scores, test_scores=test_scores, score_name="Score")
# display.plot()
# plt.show()

# train_sizes, train_scores, test_scores = learning_curve(m.clf4, m.x_train, m.y_train, n_jobs=-1)
# display = LearningCurveDisplay(train_sizes=train_sizes, train_scores=train_scores, test_scores=test_scores, score_name="Score")
# display.plot()
# plt.show()

# train_sizes, train_scores, test_scores = learning_curve(m.clf5, m.x_train, m.y_train, n_jobs=-1)
# display = LearningCurveDisplay(train_sizes=train_sizes, train_scores=train_scores, test_scores=test_scores, score_name="Score")
# display.plot()
# plt.show()

# fig, axs = plt.subplots(2, 2, figsize=(15, 15))
# axs[0,0].scatter(m.y_pred5, m.x_train_or['Monthly_Inhand_Salary']);
# axs[0,0].grid()
# axs[0,1].scatter(m.y_pred5, m.x_train_or['Delay_from_due_date']);
# axs[0,1].grid()
# axs[1,0].scatter(m.y_pred5, m.x_train_or['Num_of_Delayed_Payment']);
# axs[1,0].grid()
# axs[1,1].scatter(m.y_pred5, m.x_train_or['Credit_History_Age']);
# axs[1,1].grid()

# fig, axs = plt.subplots(2, 2, figsize=(15, 15))
# axs[0,0].scatter(m.y_pred5, m.x_train_or['Num_Credit_Inquiries']);
# axs[0,0].grid()
# axs[0,1].scatter(m.y_pred5, m.x_train_or['Credit_Mix']);
# axs[0,1].grid()
# axs[1,0].scatter(m.y_pred5, m.x_train_or['Outstanding_Debt']);
# axs[1,0].grid()
# axs[1,1].scatter(m.y_pred5, m.x_train_or['Credit_Utilization_Ratio']);
# axs[1,1].grid()